@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F2937;
    font-family: Roboto;
    color: #E5E7EB;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px 60px 100px;
}

.header-logo {
    margin: 0;
    font-size: 15px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.secondary-text {
    font-size: 18px;
    font-weight: 200;
    color: #E5E7EB;
}

.sign-up {
    display: flex;
}

p {
    margin: 0;
}

nav {
    display: flex;
    gap: 20px;
}

a {
    color: #E5E7EB;
    font-family: Roboto;
    font-size: 12px;
    text-decoration: none;
}

#section1 {
    background-color: #1F2937;
    margin: 0;
    font-family: Roboto;
    color: #E5E7EB;
    display: flex;
    padding: 10px 100px 60px 100px;
    gap: 30px;
}

.section1-left,
.section1-right {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
}

.sign-up {
    align-self: flex-start;
    padding: 6px 24px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-family: Roboto;
    border-radius: 8px;
    border: none;
}

.section2-main-text {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.images-all {
    display: flex;
    padding: 16px 100px 60px 100px;
    gap: 20px;
}

.image-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#section3 {
    background-color: #E5E7EB;
    text-align: center;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-style: italic;
    font-family: Roboto;
    font-weight: 100;
    font-size: 18px;
}

.Thor {
    align-self: flex-end;
    padding-top: 12px;
    font-weight: 700;
    font-family: Roboto;
}

#section4 {
    background-color: white;
    margin: 50px 34px;
}

.section4-container {
    background-color:#3882F6;
    display: flex;
    gap: 60px;
    padding: 25px;
    justify-content: space-evenly;
    border-radius: 6px;
}

.section4-left {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Roboto;
}

.text4-call {
    font-weight: 700;
    font-size: 16px;
}

.text4-sign {
    font-weight: 200;
    font-size: 8px;
}

.section4-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-up4 {
    align-self: flex-start;
    padding: 6px 24px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-family: Roboto;
    border-radius: 8px;
    border: 2px solid white;
}

footer {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;
    padding: 24px;
    font-size: 12px;
}