@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F2937;
    font-family: Roboto;
    color: #E5E7EB;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px 60px 100px;
}

.header-logo {
    margin: 0;
    font-size: 15px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    font-weight: 200;
    color: #E5E7EB;
}

p {
    margin: 0;
}

nav {
    display: flex;
    gap: 20px;
}

a {
    color: #E5E7EB;
    font-family: Roboto;
    font-size: 12px;
    text-decoration: none;
}

#section1 {
    background-color: #1F2937;
    margin: 0;
    font-family: Roboto;
    color: #E5E7EB;
    display: flex;
    padding: 10px 100px 60px 100px;
}

.section-left,
.section-right {
    display: flex;
    flex: 1;
    justify-content: center;
}